li{
    color: purple;
}
h1 , h2{
    color: blue;
}
button[id="submit"] {
    background-color: green;
}
#flavors, span{
    color: red;
}
li.size{
    color: magenta;
}
input[type="email"]{
    background-color: orange;
}
a[href="http://developer.mozilla.org"]{
    color: magenta;
}
a[href="http://www.wikipedia.org"]{
    color: magenta;
}
h2.bright{
    color: cyan;
}